/*overlay*/
#overlay{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    background-color:rgba(0, 0, 0, 0.5);
    z-index:2;
    display:none;
    position: fixed;
    }
    
    #overlay > h1{
    color: #fff;
    font-weight: 800;
    letter-spacing: 4px;
    line-height: 14px;
    margin: 0 0 15px 0;
    text-transform: uppercase;
    padding:10px;
    text-align: center;
    }

/*the pointer of the picture animation*/    
.pre, .next{
    cursor: pointer;
    position: relative;
    font-size: 33px;
    color:azure;
    font-weight: bold;
    text-align: center;
}

.pointer1{
float:left;
padding-top:8%;
padding-bottom: 10%;
}
.pointer2{
float: right;
padding-top:8%;
padding-bottom: 10%;
}


.flex-container {
    display: flex;
    justify-content:flex-start;
    width: 100%;
    align-items: stretch;
    
    }

    /*the game menu of four games*/
    .menu{
        width:100%;
        padding-bottom: 5%;
        background-color:rgb(49, 61, 70);
        }
        #menu1 { 
        font:12px verdana, arial, sans-serif;
        overflow: hidden;
        }
        
        #menu1, #menu1 li {
        list-style:none;
        padding:0; 
        margin:0; 
        }
        
        #menu1 li button:hover {
        background:rgb(90, 107, 116); 
        color:#fff; 
        }
        
        #menu1 li { 
        float:left;
        }
        
        #menu1 li button  {
        display:block;
        width:160px; 
        height:40px; 
        line-height:30px; 
        text-align:center; 
        background:rgb(49, 61, 70); 
        color:#fff; 
        border-top: none;
        border-bottom: none;
        border-left: none;
        cursor: pointer;   
        }
        
        .menucontent{
        background-color:rgb(49, 61, 70);  
        height:40px;
        border-top:1px solid #fff;
        border-bottom:1px solid #fff ;
        }
        
        .menucontent2{
        background-color:rgb(49, 61, 70);  
        height:40px;
        width:100%;
        border-top:1px solid #fff;
        border-bottom:1px solid #fff ;
        bottom:60px;
        
        }
        .f1{
            position: fixed;
            bottom:0;
            width:100%
            }

/*the part of picture scroll*/
.scroll{
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    width:100%;
    
    }
    
.scrinner{
    margin: 10px;
}  
    

/*the content of the menu*/ 
.text1{
    white-space: nowrap;
    margin-right:65% ;
    font-size: larger;
    text-transform: uppercase;
    color:#fff; 
    padding-top:50px;
    padding-bottom: 5px;
    margin-top: 5px;
    }
      
        .gamepic{
        
        min-width: 500px;
        width: 48%;
        height: 60%;
        
        
        }
        
        .gametext{
        width: 50%;
        height:60%;
        text-align: left;
        padding-left: 5px;           
        }
        
        
        .gametext p{
        overflow: hidden;
        text-overflow: ellipsis;
        
        
        }
        
        
        .gametext a:hover{
        color: azure;
        }
        
        .gametext a{
        color: rgba(255, 255, 255, 0.5);
        text-decoration: none;
        }
        .gametext i{
        font-size:x-large;
        }

/* the fade effect for the picture scroll*/
.effect {
    animation: fadeEffect 3s; 
}   

@keyframes fadeEffect {
from {opacity: 0;}
to {opacity: 1;}
}

/* the media part*/
@media screen and  (max-width: 980px){
    .flex-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        }

    .gametext{
        width: 100%;
        padding-top: 5%;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .gamepic{
        width:100%;
    }
    #menu1{
        display: flex;
        justify-content: space-between;
    }
}

@media screen and  (max-width: 660px){
    #menu1 li button  {
        display:block;
        width:100px; 
        height:40px; 
        line-height:30px; 
        text-align:center; 
        background:rgb(49, 61, 70); 
        color:#fff; 
        border-top: none;
        border-bottom: none;
        border-left: none;
        cursor: pointer;   
        }

        .pre, .next{
            cursor: pointer;
            position: relative;
            font-size: 20px;
            color:azure;
            font-weight: bold;
            text-align: center;
            
            
    }

    .pointer1{
        float:left;
        padding-top:6%;
        padding-bottom: 10%;
        z-index: -1;
        
    }
    .pointer2{
        float: right;
        padding-top:6%;
        padding-bottom: 10%;
        
    }

}

@media screen and (max-width: 510px){
    #menu1 li button  {
        display:block;
        width:90px; 
        height:40px; 
        line-height:50px;
        text-align:center; 
        background:rgb(49, 61, 70); 
        color:#fff; 
        border-top: none;
        border-bottom: none;
        border-left: none;
        cursor: pointer;   
        }

    .gamepic{
        min-width:300px;
    }
}