html, body,h1, h2, p, a, ul, li,footer, header, menu, nav, section, pre{
                font: inherit;
                vertical-align: baseline;      
        }

        *{
                margin: 0;
                padding: 0;
                border: 0;
        }
       

        .out{
            width:100%;
            
        }
        
        .toolbar{
            background-color: #1d242a;
            position: fixed;
            width:100%;
            box-shadow:5px 5px 5px black;
            z-index: 2;
        }

        .toolbar h1{
            float:left;
        }

        body {
        background: #2e3842;
        
	}

        .toolbar a{
            text-decoration: none;
            color:#fff
        }

        h1{
            color: #fff;
            font-weight: 800;
            letter-spacing: 4px;
            line-height: 14px;
            margin: 0 0 15 0;
            text-transform: uppercase;
            padding:10px;
        }


        .menu{
            width:100%;
            padding-bottom: 5%;
            background-color:rgb(49, 61, 70);
        }
        #menu1 { 
        font:12px verdana, arial, sans-serif;
        overflow: hidden;
        }

        #menu1, #menu1 li {
        list-style:none;
        padding:0; 
        margin:0; 
        }

        #menu1 li button:hover {
        background:rgb(90, 107, 116); 
        color:#fff; 
        }
        
        #menu1 li { 
        float:left;
        }
        
        #menu1 li button  {
            display:block;
            width:160px; 
            height:40px; 
            line-height:30px; 
            text-align:center; 
            background:rgb(49, 61, 70); 
            color:#fff; 
            border-top: none;
            border-bottom: none;
            border-left: none;
            cursor: pointer;   
            }
        
        .menucontent{
            background-color:rgb(49, 61, 70);  
            height:40px;
            border-top:1px solid #fff;
            border-bottom:1px solid #fff ;
        }

        .menucontent2{
            background-color:rgb(49, 61, 70);  
            height:40px;
            width:100%;
            border-top:1px solid #fff;
            border-bottom:1px solid #fff ;
            bottom:60px;
            
        }


        .f1{
            position: fixed;
            bottom:0;
            width:100%}

        .footer {
        
            background-color: #1d242a;
            text-align: center;
               
        }

		.footer .icons {
			font-size: 22px;
		}
        .il{
            display: inline;
        }
     
		.footer .icons a,#fp {
			color: rgba(255, 255, 255, 0.5);
            text-decoration: none;
            
		}

       

		.footer .icons a:hover {
			color: #fff;
		}

        
        
        .scroll, #one{
            padding-top: 5%;
            padding-bottom: 5%;
            text-align: center;
            width:100%;
            
        }
     

        .scrinner{
            margin: 10px;
            
        }
        
        .text1{
            white-space: nowrap;
            margin-right:65% ;
            font-size: larger;
            text-transform: uppercase;
            color:#fff; 
            padding-top:40px;
            padding-bottom: 5px;
            margin-top: 5px;
        }
        img{
            width:60%;

        }

        .content{
            font-size: x-large;
            color:azure;
            font-family:'Calibri';
            background-color: rgb(54, 52, 52);
            
        }

        #game2 img{
            max-height: 660px;
        }

        .gamepic{
           
           min-width: 500px;
           
           width: 48%;
           height: 60%;
           
        
        }

        .gametext{
            width: 50%;
            height:60%;
            text-align: left;
            padding-left: 5px;           
        }

        
        .gametext p{
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 8;
            -webkit-box-orient: vertical;
            
        }
       
        
        .gametext a:hover{
            color: azure;
        }

        .gametext a{
            color: rgba(255, 255, 255, 0.5);
            text-decoration: none;
        }
        .gametext i{
            font-size:x-large;
        }

        

        h3{
            text-align: center;
        }

        .content img{
            width:100%;
        }

       
        .flex-container {
        display: flex;
        justify-content:flex-start;
        width: 100%;
        align-items: stretch;
        
        }


        .dropdown-content2 {
            display: none;
            position: absolute;
            background-color: #1f252b;
            min-width: 160px;
            text-align:center;
        }

        .dropbtn {
        background-color: #1f252b;;
        color: white;
        padding:16px;
        font-size: 16px;
        border:none;
        }

        .dropbtn2 {
            background-color: #1d242a;;
            color: white;
            padding:16px;
            font-size: 16px;
            border:none;
            display: none;
            
            }

        .dropdown {
            position: relative;
            display: block;
            float:right;
        }


        .dropdown-content2 a {
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        
        }

        

        .dropdown:hover .dropdown-content2 {
            display: block;
        }

        

        .dropdown-content2 a:hover {background-color: #778899;}

        .dropdown:hover .dropbtn {
            background-color: #1f252b;
            
        }

        

        #overlay{
            width:100%;
            height:100%;
            margin:0;
            padding:0;
            background-color:rgba(0, 0, 0, 0.5);
            z-index:2;
            display:none;
            position: fixed;
        }

        #overlay > h1{
            color: #fff;
            font-weight: 800;
            letter-spacing: 4px;
            line-height: 14px;
            margin: 0 0 15 0;
            text-transform: uppercase;
            padding:10px;
            text-align: center;
        }



        .row1  {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            background: rgb(29, 30, 31);
            border-top:1px solid #fff;
            border-bottom:1px solid #fff ;
            
        }
    
            .row1 .image {
                border-radius: 0;
                width: 40%;
            }

    
                .row1 .image img {
                    border-radius: 0;
                    width: 100%;
                }

    
            .row1 .content {
                width: 60%;
                height:360px;
            }

            .row2  {
                display: flex;
                flex-direction: row;
                align-items: center;
                display: flex;
                background: rgb(29, 30, 31);
                border-top:1px solid #fff;
                border-bottom:1px solid #fff ;
            }
        
                .row2 .image {
                    border-radius: 0;
                    width: 40%;
                }
                    .row2 .image img {
                        border-radius: 0;
                        width: 100%;
                    }
    
                .row2 .content {
                    width: 60%;
                    height:360px;
                    background-color: rgba(82, 81, 78, 0.226);
                }

            /*the pointer of the picture animation*/    
            .pre, .next, .pre1,.next1{
                    cursor: pointer;
                    position: relative;
                    font-size: 33px;
                    color:azure;
                    font-weight: bold;
                    text-align: center;
            }
                
            .pointer1{
                float:left;
                padding-top:8%;
                padding-bottom: 10%;
            }
            .pointer2{
                float: right;
                padding-top:8%;
                padding-bottom: 10%;
            }
            
           
            

            @media screen and  (max-width: 980px) {


                .flex-container {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    width: 100%;
                    }

                .gametext{
                    width: 100%;
                    padding-top:0px;
                    padding-top: 5%;
                }
                .gamepic{
                    width:100%;
                }
                body{
                    height:100%;
                }
    
                .content{
                    font-size: x-large;
                    color:azure;
                    font-family:'Calibri';
                    background-color: rgb(54, 52, 52);
                    
                    min-height: 500px; 
                }
    
                img{
                    width:80%;
                }
    
                #menu1{
                    display: flex;
                    justify-content: space-between;
                }
                .row1 {
                    display: block;
                }

                .row2 {
                    display: block;
                }
    
    
                    .row1 .image {
                        width: 100%;
                    }

                    .row2 .image {
                        width: 100%;
                    }
    
                    .row1 .content {
                        
                        text-align: center;
                        width: 100%;
                    }

                    .row2 .content {
                        
                        text-align: center;
                        width: 100%;
                    }

                    .dropbtn{
                        display: none;
                    }

                    .dropbtn2{
                        display: block;
                    }

                    .dropdown-content2{
                        height: 100%; 
                        position: fixed; 
                        z-index: 1; 
                        top: 0;
                        right: 0;
                        overflow-x: hidden; 
                        padding-top: 60px; 
                        transition: 0.5s;
                    }

                    
            }

            @media screen and  (max-width: 660px){
                #menu1 li button  {
                    display:block;
                    width:100px; 
                    height:40px; 
                    line-height:30px; 
                    text-align:center; 
                    background:rgb(49, 61, 70); 
                    color:#fff; 
                    border-top: none;
                    border-bottom: none;
                    border-left: none;
                    cursor: pointer;   
                    }

                    .pre, .next{
                        cursor: pointer;
                        position: relative;
                        font-size: 20px;
                        color:azure;
                        font-weight: bold;
                        text-align: center;
                        
                        
                }

                .pointer1{
                    float:left;
                    padding-top:6%;
                    padding-bottom: 10%;
                    z-index: -1;
                    
                }
                .pointer2{
                    float: right;
                    padding-top:6%;
                    padding-bottom: 10%;
                    
                }
    
            }

            @media screen and (max-width: 510px){
                #menu1 li button  {
                    display:block;
                    width:90px; 
                    height:40px; 
                    line-height:50px;
                    text-align:center; 
                    background:rgb(49, 61, 70); 
                    color:#fff; 
                    border-top: none;
                    border-bottom: none;
                    border-left: none;
                    cursor: pointer;   
                    }

                .gamepic{
                    min-width:300px;
                }
            }

            .effect {
                animation: fadeEffect 3s; 
            }   
    
            @keyframes fadeEffect {
            from {opacity: 0;}
            to {opacity: 1;}
            }
    

            

           /*page2 game*/
            iframe{
                height:720px;
                width:1280px;
                margin-top: 50px;
            }

            

            @media screen and (max-width: 1280px){
                iframe{
                    height:600px;
                    width:1066px;
                    
                }
            }
            @media screen and (max-width: 1066px){
                iframe{
                    height:500px;
                    width:888px; 
                }
            }

            @media screen and (max-width: 888px){
                iframe{
                    height:400px;
                    width:711px; 
                }
            }

            @media screen and (max-width:660px) {
                iframe{
                    height:300px;
                    width:533px;
                }
            }

            @media screen and (max-width:500px) {
                iframe{
                    height:168px;
                    width:300px;
                }

            }

            /*introduction page*/
            .square{
                padding-top: 100px;
                padding-bottom: 100px;
            }

            .list{
                display: flex;
                width:100%;
                justify-content: center;
                flex-wrap: wrap;
                list-style: none;
            }
            .list li{
                border-radius: 1%;
                display: block;
                padding:  5% 10% 5% 10%;
                width:20%;
                font-family: sans-serif;
                font-size: large;
                color:rgb(230, 227, 227);
                
            }

            #li1{
                background-color: rgba(0, 0, 0, 0.17);
            }
            #li2{
                background-color: rgba(0, 0, 0, 0.12);
            }
            #li3{
                background-color: rgba(0, 0, 0, 0.12);
            }
            #li4{
                background-color: rgba(0, 0, 0, 0.17);
            }
            #li5{
                background-color: rgba(0, 0, 0, 0.17);
            }
            #li6{
                background-color: rgba(0, 0, 0, 0.12);
            }
            #li6 a{
                color:gainsboro;
            }


            
            @media screen and (max-width:980px) {
                .list li{
                    width: 50%;
                }

                #li2{
                    background-color: rgba(0, 0, 0, 0.17);
                }
                #li1{
                    background-color: rgba(0, 0, 0, 0.12);
                }
                #li3{
                    background-color: rgba(0, 0, 0, 0.12);
                }
                #li4{
                    background-color: rgba(0, 0, 0, 0.17);
                }
                #li6{
                    background-color: rgba(0, 0, 0, 0.17);
                }
                #li5{
                    background-color: rgba(0, 0, 0, 0.12);
                }

            }

            /*sekiro page*/
            .tophead{
                
                width: 100%;
                
            }
            .headpic{
                width:100%;
                padding-top: 5%;
                padding-bottom:50%;
                background-color: gray;
                text-align: center;
                background-image: url(../images/sk1.jpg);
                background-size:100% ;
                background-repeat: no-repeat;
            }

            .headtext{
                position: absolute;
                left:50%;
                top:15%;
                transform: translate(-50%, -50%);
                white-space: nowrap;
                font-size: 40px;
            }
            .headpic img{
                
                width: 100%;
            }

            .review{
                margin: 20px;
                background-color: rgba(0, 0, 0, 0.274);
                margin-right: 20px;
                margin-left: 20px;
                position: relative;
            }

            .pre1{
                position: absolute;
                bottom:110px;
            }

            .next1{
                position: absolute;
                right:0;
                bottom:110px;
            }

            .slide{
                width:100%;
                text-align: center;
                display: none;
                height:20%;
                padding-top:10%;
            }

            .slide p{
                font-size: 20px;
                color: aliceblue;
            }

            .slide q{
                font-size:50px;
                color:rgb(143, 122, 16);
                font-family: fantasy;
            }

            @media screen and (max-width:980px) {
                .headtext{
                    font-size: 20px;
                }
            }

            @media screen and (max-width:600px) {
                .headtext{
                    font-size: 15px;
                }

                .slide q{
                    font-size:25px;
                }

                .slide p{
                    font-size: 15px;
                }

                .pre1{
                    bottom:100px;
                }

                .next1{
                    bottom:100px;
                }
            }
        