html, body,h1, h2, p, a, ul, li,footer, header, menu, nav, pre{
    font: inherit;     
}

*{
    margin: 0;
    padding: 0;
    border: 0;
}


.out{
width:100%;
}

body {
background: #2e3842;
}

h1{
color: #fff;
font-weight: 800;
letter-spacing: 4px;
line-height: 14px;
margin: 0 0 15px 0 ;
text-transform: uppercase;
padding:10px;
}

/*toolbar on the top of the page*/
.toolbar{
background-color: #1d242a;
position: fixed;
width:100%;
box-shadow:5px 5px 5px black;
z-index: 2;
}

.toolbar h1{
float:left;
}


.toolbar a{
text-decoration: none;
color:#fff
}




/*the footer*/
.footer {

background-color: #1d242a;
text-align: center;
   
}

.footer .icons {
font-size: 22px;
}

.il{
display: inline;
}

.footer .icons a,#fp {
color: rgba(255, 255, 255, 0.5);
text-decoration: none;

}

.footer .icons a:hover {
color: #fff;
}


img{
width:60%;
}

.content{
font-size: x-large;
color:azure;
font-family:'Times New Roman', Times, serif;
background-color: rgb(54, 52, 52);


}


h3{
    text-align: center;
}

.content img{
    width:100%;
}


/*the dropdown menu on the top right*/
.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #1f252b;
    min-width: 160px;
    text-align:center;
}

.dropbtn {
    background-color: #1f252b;;
    color: white;
    padding:16px;
    font-size: 16px;
    border:none;
}

.dropbtn2 {
    background-color: #1d242a;;
    color: white;
    padding:16px;
    font-size: 16px;
    border:none;
    display: none;

}

.dropdown {
    position: relative;
    display: block;
    float:right;
}


.dropdown-content2 a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

}

.dropdown:hover .dropdown-content2 {
    display: block;
}

.dropdown-content2 a:hover {
    background-color: #778899;
}

.dropdown:hover .dropbtn {
background-color: #1f252b;

}


@media screen and  (max-width: 980px) {

    .content{
        font-size: x-large;
        color:azure;
        font-family:'Times New Roman', Times, serif;
        background-color: rgb(54, 52, 52);
         
    }

    img{
        width:80%;
    }

        .dropbtn{
            display: none;
        }

        .dropbtn2{
            display: block;
        }

        .dropdown-content2{
            height: 100%; 
            position: fixed; 
            z-index: 1; 
            top: 0;
            right: 0;
            overflow-x: hidden; 
            padding-top: 60px; 
            transition: 0.5s;
        }
   
}
